<h2> Formación Académica</h2>
<table>
    <tr>
        <th> Nivel </th>
        <th> Título </th>
        <th> Centro </th>
        <th> Fecha </th>
        <th> Certificado </th>
        <th colspan="2"> Operaciones </th>
    </tr>
    <tr *ngFor="let titUniv of profileStudent.titulosUniversitarios; let index=index">
        <td> Universidad </td>
        <td> {{titUniv.titulo}} </td>
        <td> {{titUniv.centro}} </td>
        <td> {{titUniv.fechaTitulo}} </td>
        <td> {{titUniv.certificado}}</td>
        <td><button (click)="editarFormacionUniversitaria(index)"> Editar </button></td>
        <td><button (click)="borrarFormacionUniversitaria(index)"> Borrar </button></td>
    </tr>
    <tr *ngFor="let cicloForm of profileStudent.ciclosFormativos; let index=index">
        <td> Ciclos Formativos </td>
        <td> {{cicloForm.ciclo}} </td>
        <td> {{cicloForm.centroEducativo}} </td>
        <td> {{cicloForm.fechaTitulo}} </td>
        <td> {{cicloForm.certificado}}</td>
        <td><button (click)="editarFormacionCiclos(index)"> Editar </button></td>
        <td><button (click)="borrarFormacionCiclos(index)"> Borrar </button></td>
    </tr>
</table>
<button (click)="nuevaFormacion()"> Nueva Formación Académica </button>


<button routerLink="/user/profile"> Volver al profile </button>