<h2> Job Offers (Students)</h2>

<table>
    <tr>
        <th> Puesto </th>
        <th> Empresa </th>
        <th> Familia Profesional </th>
        <th> Fecha </th>
        <th> Provincia </th>
    </tr>
    <tbody *ngFor="let offer of jobOffers">
    <tr *ngIf="mostrarOferta(offer.familiaProfesional)" (click)='verDetalleOferta(offer.id)'>
        <td> {{offer.puesto}} </td>
        <td> {{offer.empresa}} </td>
        <td> {{offer.familiaProfesional}} </td>
        <td> {{offer.fecha}} </td>
        <td> {{offer.provincia}} </td>
    </tr>
    </tbody>
</table>

<div>
    <button [routerLink]="['/user/dashboard']"> Volver al Dashboard </button>
</div>

