<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

  <!-- CAMPO EMAIL -->
  <div>
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
  </div>

  <!-- ERRORES DEL CAMPO EMAIL -->
  <div [hidden]="forgotPasswordForm.controls['email'].valid || forgotPasswordForm.controls['email'].untouched">
    <div>
      Errores encontrados con el campo 'email':
    </div>

    <div [hidden]="!forgotPasswordForm.controls['email'].hasError('required')">
      El campo 'email' es obligatorio
    </div>

    <div [hidden]="!forgotPasswordForm.controls['email'].hasError('validateEmail')">
      El campo 'email' no tiene formato de correo electrónico (email)
    </div>

  </div>

  <!-- BOTON SUBMIT -->
  <div>
    <button type="submit" [disabled]="!forgotPasswordForm.valid">Remember Password</button>
  </div>
</form>