<h3>{{titulo}}</h3>


    <form [formGroup]="idiomaForm">

        <fieldset>
            <legend> Idioma </legend>

            <div>
                <label [attr.for]="idioma">Idioma: </label>
                <select name="idioma" [(ngModel)]="idiomaStudent.idioma" formControlName="idioma">
                    <option value="Español">Español</option>
                    <option value="Inglés">Inglés</option>
                    <option value="Francés">Frances</option>
                    <option value="Italiano">Italiano</option>
                    <option value="Portugués">Portugués</option>
                    <option value="Chino">Chino</option>
                    <option value="Japonés">Japonés</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div [hidden]="idiomaForm.controls['idioma'].valid || idiomaForm.controls['idioma'].untouched">
                <div [hidden]="!idiomaForm.controls['idioma'].hasError('required')">El 'Idioma' es obligatorio</div>
            </div>

            <!--<div *ngIf="idiomaStudent.idioma==='Otros'">-->

            <div *ngIf="idiomaStudent.idioma==='Otros'">
                <label [attr.for]="otroIdioma">Otro Idioma: </label>
                <input type="text" id="otroIdioma" name="otroIdioma" [(ngModel)]="idiomaStudent.otroIdioma" formControlName="otroIdioma">
            </div>

            <div [hidden]="idiomaForm.controls['otroIdioma'].valid || idiomaForm.controls['otroIdioma'].untouched">
                <div [hidden]="!idiomaForm.controls['otroIdioma'].hasError('minlength')">
                    'Otro Idioma' debe tener una Longitud mínima de 3 caracteres
                </div>
                <div [hidden]="!idiomaForm.controls['otroIdioma'].hasError('maxlength')">
                    'Otro Idioma' debe tener una Longitud máxima de 255 caracteres
                </div>
            </div>


            <div [hidden]="!idiomaForm.hasError('validateOtroIdioma')">
                'Otro Idioma' no puede quedar en blanco
            </div>


            <div>
                <label [attr.for]="nivel">Nivel: </label>
                <select name="nivel" [(ngModel)]="idiomaStudent.nivel" formControlName="nivel">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                </select>
            </div>
            <div [hidden]="idiomaForm.controls['nivel'].valid || idiomaForm.controls['nivel'].untouched">
                <div [hidden]="!idiomaForm.controls['nivel'].hasError('required')">El 'Nivel' es obligatorio</div>
            </div>

            <div>
                <label [attr.for]="fecha">Fecha: </label>
                <input type="text" id="fecha" name="fecha" [(ngModel)]="idiomaStudent.fecha" formControlName="fecha">
            </div>


        </fieldset>
        <div>
            <button (click)='guardarIdioma()' [disabled]="!idiomaForm.valid">Guardar Idioma</button>
        </div>
    </form>



