<img src="assets/img/UOC_Logo.jpg" alt="Logo UOC"/>
<form [formGroup]="signinForm">

  <!-- CAMPO EMAIL -->
  <div>
    <label>
      Email:
      <input type="text" formControlName="email" (focus)="errorLogin=undefined">
    </label>
  </div>

  <!-- ERRORES DEL CAMPO EMAIL -->
  <div [hidden]="signinForm.controls['email'].valid || signinForm.controls['email'].untouched">
    <div>
      Errores encontrados con el campo 'email':
    </div>

    <div [hidden]="!signinForm.controls['email'].hasError('required')">
      El campo 'email' es obligatorio
    </div>

    <div [hidden]="!signinForm.controls['email'].hasError('validateEmail')">
      El campo 'email' no tiene formato de correo electrónico (email)
    </div>

  </div>


  <!-- CAMPO PASSWORD -->
  <div>
    <label>
      Password:
      <input type="password" formControlName="password" (focus)="errorLogin=undefined">
    </label>
  </div>

  <!-- ERRORES DEL CAMPO PASSWORD -->
  <div [hidden]="signinForm.controls['password'].valid || signinForm.controls['password'].untouched">
    <div>
      Errores encontrados con el campo 'password':
    </div>

    <div [hidden]="!signinForm.controls['password'].hasError('required')">
      El campo 'password' es obligatorio
    </div>

  </div>

  <div>{{errorLogin}}</div>

  <!-- BOTON SUBMIT -->
  <div>
    <button (click)='buttonLogin()' [disabled]="!signinForm.valid">Login</button>
  </div>

  <!-- BOTON REMEMBER PASSWORD -->
  <div>
    <button routerLink="/forgot-password"> Remember Password </button>
  </div>

</form>