<!-- <div class="app-admin-wrap" [dir]="layoutConf.dir"> -->
<!-- Header for top navigation layout -->
<!-- ONLY REQUIRED FOR **TOP** NAVIGATION LAYOUT -->
<!--   <app-header-top
    *ngIf="layoutConf.navigationPos === 'top'"
    [notificPanel]="notificationPanel"
  >
  </app-header-top> -->



<div fxLayout="row" fxLayoutAlign="flex-start"  gdColumns="20% 80%">

  <mat-toolbar color="primary">
          <mat-toolbar-row>
              <mat-icon aria-hidden="false" aria-label="Logout">exit_to_app</mat-icon>
              <span routerLink="/">Logout</span>
          </mat-toolbar-row>

          <mat-toolbar-row>
              <mat-icon  aria-hidden="false" aria-label="Dashboard">dashboard</mat-icon>
            <span routerLink="/admin/">Dashboard</span>
          </mat-toolbar-row>

          <mat-toolbar-row>
              <mat-icon aria-hidden="false" aria-label="Perfil">account_box</mat-icon>
            <span routerLink="/admin/profile">Profile</span>
          </mat-toolbar-row>

          <mat-toolbar-row>
              <mat-icon aria-hidden="false" aria-label="Ofertas">business_center</mat-icon>
            <span routerLink="/admin/offers">Offers</span>
          </mat-toolbar-row>

          <mat-toolbar-row>
              <mat-icon aria-hidden="false" aria-label="Configuracion">settings</mat-icon>
            <span routerLink="/admin/config">Configuración</span>
          </mat-toolbar-row>

          <mat-toolbar-row>
              <mat-icon aria-hidden="false" aria-label="Mis ofertas (mi carpeta)">folder_shared</mat-icon>
            <span routerLink="/admin/offers/my-offers">Mis Ofertas</span>
          </mat-toolbar-row>
  </mat-toolbar>
  <!--
  <div>
    <ul>
      <li><a routerLink="/">Logout</a></li>
      <li><a routerLink="/admin/">Dashboard</a></li>

      <li><a routerLink="/admin/profile">Profile</a></li>
      <li><a routerLink="/admin/offers">Offers</a></li>
      <li>
        <a routerLink="/admin/config">Configuración</a>
      </li>
      <li>
        <a [routerLink]="['/admin/offers/my-offers']">Mis ofertas</a>
      </li>
    </ul>
  </div>
-->
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- </div> -->
