<div class="container">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Estudios</mat-card-title>
    </mat-card-header>

    <div class="contentCard">
      <form [formGroup]="rForm">

        <div>
          <mat-form-field appearance="standard">
            <mat-label>Nivel</mat-label>

            <mat-select
                    [compareWith]="compareOption"
                    id="option"
                    formControlName="option">
              <option selected>---</option>

              <mat-option selected="selected">---</mat-option>

              <mat-option [value]="option" *ngFor="let option of options">
                {{option.name}}
              </mat-option>
            </mat-select>

            <mat-hint align="end">Introduce la opción</mat-hint>
            <mat-error *ngIf="rForm.controls['option'].errors">{{getErrorMessageOption()}}</mat-error>
          </mat-form-field>
        </div>

        <app-vocational-form
                *ngIf="isSelectVocational()"
                [study]="study"
                (onSave)="saveOrUpdate($event)"
                (onExit)="exit($event)"
        ></app-vocational-form>

        <app-university-degree-form
                *ngIf="isSelectUniversity()"
                [study]="study"
                (onSave)="saveOrUpdate($event)"
                (onExit)="exit($event)"
        ></app-university-degree-form>

      </form>
    </div>
  </mat-card>
</div>

