/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #d3c7e9;
}

h2 {
  text-align: center;
  background-color: #673ab7;
  color: #fafa0b;
  margin: 10px;
  padding: 25px;
  border-radius: 5px;
}


div.container{
  margin-right: 25px;
  padding: 10px;
}


mat-card{
  margin: 10px;
  padding: 0;
}

div.contentCard{
  margin-left: 15px;
  margin-right: 15px;
}

mat-form-field{
  width: 100%;
}

mat-card-header{
  width: 100%;
  background-color: #673ab7;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

mat-card-header#cardDatosPersonales {
    margin-bottom: 10px;
}


mat-card-actions{
  margin-top: 5px;
  text-align: center;
}

table{
  width: 100%;
}

table td, table th.mat-header-cell{
  text-align: center;
}

table td button.mat-raised-button{
  margin: 3px;
}

table th.mat-header-cell{
  padding: 3px;
}

div#contenido{
  padding-top: 0em !important;
}

mat-toolbar{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
// https://jsfiddle.net/ukwocuob/5/

mat-toolbar-row:hover span{
  color: #FAFA0B;
  cursor: pointer;
}

mat-toolbar-row mat-icon{
  color: #FAFA0B;
  margin-right: 5px;
}

button i {
  margin-right: 3px;
}